@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0 30px;
  font-family: "Poppins";
  background: linear-gradient(to top, #272727, #222222); /* Updated background color */
}
h1,h2,h3,h4 {
  font-weight: 500;
  color: rgb(255, 255, 255);
}
.App {
  font-size: 1.2em;
  margin: 10px auto;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #679cff;
  border-bottom: 1px dotted;
}
.site-header h1 {
  font-size: 2em;
  color: #2a66d6;
  padding-bottom: 10px;
  border-bottom: 15px double;
}

/* review list */
.review-card {
  background: linear-gradient(to top, #444444, #313131);
  color: rgb(204, 204, 204);
  margin: 60px auto;
  padding: 1px 20px 20px 90px;
  position: relative;
  border-radius: 40px; /* Added rounded edges */
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2); /* Added drop shadow */
}

.review-card .rating {
  position: absolute;
  top: -20px;
  left: -20px;
  background: linear-gradient(to top, #2a66d6, #1c438b);
  font-size: 3em;
  width: 90px;
  height: 90px;
  text-align: center;
  color: white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.review-card h2 {
  margin-bottom: 0;
}
.review-card small {
  margin-right: 10px;
  color: #777;
}